* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 100%, 74%);
  background-image: url(./images/bg-intro-desktop.png);
  color: white;
}
#offer {
  background-color: hsl(248, 32%, 49%);
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  margin-bottom: 16px;
}
#form-container {
  background-color: #fff;
  padding: 16px;
}
button {
  background-color: hsl(154, 59%, 51%);
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  border: none;
  color: white;
  font-weight: bold;
}
#form-container p {
  color: hsl(249, 10%, 26%);
}
#form-container a {
  color: hsl(0, 100%, 74%);
  text-decoration: none;
  font-weight: bold;
}
input {
  padding: 16px;
  border: hsl(246, 25%, 77%) solid;
  margin-bottom: 16px;
  width: 100%;
}
section {
  display: flex;
  align-items: center;
  height: 90vh;
  padding-left: 80px;
  padding-right: 80px;
}
h1 {
  font-size: 40px;
  margin-bottom: 16px;
}
