#grid-container {
  background-color: rgb(234, 242, 123);
  padding: 20px;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(4, 1fr);
}
.child {
  background-color: pink;
  padding: 8px;
}
.child-1 {
  grid-column: span 3;
}
.child-2 {
  grid-row: span 2;
}
