p {
  background-color: aquamarine;
  padding: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
  color: orangered;
  font-size: 28px;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#accent {
  background-color: red;
  color: white;
}

.blue-bg {
  background-color: rgb(10, 10, 66);
  color: white;
}

h1 {
  color: brown;
  font-size: 48px;
  font-weight: lighter;
  text-transform: capitalize;
  letter-spacing: -5px;
  line-height: 80px;
}
h2 {
  border: solid 3px orange;
  margin: 30px;
  padding: 15px;
  width: 150px;
}
#bg-styling {
  background-color: yellowgreen;
  padding: 15px;
  background-image: url(./images/icons8-css3-100.png);
  background-repeat: no-repeat;
  background-size: cover;
}
ul {
  display: none;
}
